{{ 'snippet-featured-card-horizontal.css' | asset_url | stylesheet_tag }}

<a href="{{ product.url }}">
  <div class="featured-card ">
    {{ product.featured_image | image_url: width: 800 | image_tag }}
    <div class="content">
      <h3>{{ product.title }}</h3>
      <p>{{ product.description | strip_html | truncate: 80 }}</p>
    </div>
  </div>
</a>
