{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="content">
  <h3 class="title">{{ section.settings.title }}</h3>
  <button>{{ section.settings.button_text }}</button>
</div>

{%- assign default = 'https://superhi-baggy.myshopify.com/cdn/shop/files/AT_Boyko-Apartment_010_AB.webp?v=1707525098&w=1920' -%}

<img
  class="image"
  src="
    {% if section.settings.hero_image == blank %}
      {{default | image_url: '500x300' }} {% endif %}
    {{ section.settings.hero_image | image_url: '500x300' }}
  "
  width="1920"
  height="1080"
>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Text",
      "default": "Your text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Your button text"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button Link"
    }
  ],
  "tag": "section",
  "class": "hero"
}
{% endschema %}
