<h1>{{ 'text' | t }}</h1>

{% for block in section.blocks %}
  {% if block.type == 'paragraph' %}
    <p>{{ block.settings.text }}</p>
  {% elsif block.type == '@app' %}
    {% render block %}
  {% endif %}
{% endfor %}

<h1 style="color: {{ section.settings.color }} ">{{ section.settings.text }}</h1>

{% for block in section.blocks %}
  {% if block.type == 'social' %}
    <a href="{{  block.settings.url}}">{{ block.settings.text }}</a>
  {% elsif block.type == 'paragraph' %}
    <p>{{ block.settings.text }}</p>
  {% endif %}
{% endfor %}

{% schema %}
{
  "name": "hero",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text color",
      "default": "#000"
    }
  ],
  "presets": [
    {
      "name": "Default hero section",
      "settings": {
        "text": "Dfault text"
      }
    },
    {
      "name": "Red hero section",
      "settings": {
        "text": "Red text"
      }
    }
  ],
  "tag": "header",
  "class": "custom-hero-section",
  "limit": 2,
  "blocks": [
    {
      "type": "@app"
    },
    {
      "name": "Social",
      "type": "social",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    },
    {
      "name": "Paragraph",
      "type": "paragraph",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "text": "Hello"
    },
    "es": {
      "text": "Ola"
    }
  }
}
{% endschema %}
